<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <title>Login</title>
  <style>
    body {
      font-family: 'Source Sans Pro', sans-serif;
      background-color: #f0f2f5;
    }
  </style>
</head>
<body>
<div class="navbar">
  <div class="logo">
    <a><h1>Projekt-Manager</h1></a>
  </div>
</div>
<div class="main">
  <div class="container">
    <form action="/projekter" method="POST">
      <label for="username">Brugernavn</label>
      <input type="text" id="username" name="username" placeholder="Brugernavn">
      <label for="password">Kodeord</label>
      <input type="password" id="password" name="password" placeholder="Kodeord">
      <button type="submit">Log ind</button>
      <a th:href="@{nybruger}"><button type="button">Opret ny bruger</button></a>
    </form>
  </div>
</div>

</body>
</html>