<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <title>Projekter</title>
    <style>
        body {
            font-family: 'Source Sans Pro', sans-serif;
            background-color: #f0f2f5;
        }
    </style>
</head>
<body>
<div class="navbar">
    <div class="logo">
        <a><h1>Projekt-Manager</h1></a>
    </div>
    <form action="/logout" method="POST">
        <button type="submit" class="logout-button">Log af</button>
    </form>
</div>
<div class="main">
    <h2>Dine Projekter</h2>
        <div class="list">
            <table>
                <thead>
                <tr>
                    <th>Navn</th>
                    <th>Start</th>
                    <th>Deadline</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projects}" th:if="${project.ownerId == session.userId}">
                    <td>
                        <a th:href="@{/projektdetaljer/{projectId}/{ownerId}(projectId=${project.projectId}, ownerId=${project.ownerId})}">
                            <span th:text="${project.projectName}"></span>
                        </a>
                    </td>
                    <td th:text="${#temporals.format(project.start, 'dd-MM-yyyy')}"></td>
                    <td th:text="${#temporals.format(project.deadline, 'dd-MM-yyyy')}"></td>
                </tr>
                </tbody>
            </table>
            <a href="/nytprojekt" class="btn btn-primary">Opret Nyt Projekt</a>
        </div>


        <h2>Projekter Du Deltager I</h2>
        <div class="list">
            <table>
                <thead>
                <tr>
                    <th>Navn</th>
                    <th>Start</th>
                    <th>Deadline</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projects}" th:if="${project.ownerId != session.userId}">
                    <td>
                        <a th:href="@{/projektdetaljer/{projectId}/{ownerId}(projectId=${project.projectId}, ownerId=${project.ownerId})}">
                            <span th:text="${project.projectName}"></span>
                        </a>
                    </td>
                    <td th:text="${#temporals.format(project.start, 'dd-MM-yyyy')}"></td>
                    <td th:text="${#temporals.format(project.deadline, 'dd-MM-yyyy')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
</body>
</html>