<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <title>Projekt</title>
    <style>
        body {
            font-family: 'Source Sans Pro', sans-serif;
            background-color: #f0f2f5;
        }
    </style>
</head>
<body>
<div class="navbar">
    <div class="logo">
        <a><h1>Projekt-Manager</h1></a>
    </div>


    <div class="menu">
        <a th:href="@{projekter}">Projektliste</a>
        <a th:href="@{nyopgave}">Opret Opgave</a>
        <a th:href="@{nytdelprojekt}">Opret Delprojekt</a>
        <a th:if="${session.userId == project.ownerId}" th:href="@{projektmedlemmer}">Projektmedlemmer</a>
    </div>

    <form action="/logout" method="POST">
        <button type="submit" class="logout-button">Log af</button>
    </form>
</div>
<div class="main">
    <h1 th:text="${project.projectName}" ></h1>
    <div>
        <p><strong>Beskrivelse:</strong> <span th:text="${project.projectDescription}"></span></p>
        <p><strong>Start Dato:</strong> <span th:text="${project.start}"></span> <strong>Deadline:</strong> <span th:text="${project.deadline}"></span></p>
        <p><strong>Samlet Tidsestimat:</strong> <span th:text="${project.timeEstimate}"></span> timer</p>
        <p>
            <strong>Tidsestimat fordelt på arbejdsdage:</strong>
            <span th:if="${hoursperday >= 0}" th:text="${hoursperday} + ' timer per arbejdsdag'"></span>
            <span th:if="${hoursperday == -1}">Fejl: Deadline før start</span>
            <span th:if="${hoursperday == -2}">Deadline overskredet</span>
        </p>
    </div>


    <h2>Opgaver</h2>
    <div class="list">
        <table>
            <thead>
            <tr>
                <th>Navn</th>
                <th>Start</th>
                <th>Deadline</th>
                <th>Estimeret Timer</th>
                <th>Beskrivelse</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.taskName}"></td>
                <td th:text="${#temporals.format(task.start, 'dd-MM-yyyy')}"></td>
                <td th:text="${#temporals.format(task.deadline, 'dd-MM-yyyy')}"></td>
                <td th:text="${task.timeEstimate}"></td>
                <td th:text="${task.taskDescription}"></td>
                <td>
                    <form action="/redigeropgave" method="POST">
                        <input type="hidden" name="taskId" th:value="${task.taskId}" />
                        <button type="submit">Rediger</button>
                    </form>
                </td>
                <td>
                    <form action="/sletopgave" method="POST">
                        <input type="hidden" name="taskId" th:value="${task.taskId}" />
                        <button type="submit" class="logout-button">Slet</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
        </div>
        <h2>Delprojekter</h2>
    <div class="list">
        <table>
            <thead>
            <tr>
                <th>Navn</th>
                <th>Start</th>
                <th>Deadline</th>
                <th>Estimeret Timer</th>
                <th>Beskrivelse</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subproject : ${subprojects}">
                <td>
                    <a th:href="@{/delprojekt/{subprojectId}(subprojectId=${subproject.subProjectId})}">
                        <span th:text="${subproject.subProjectName}"></span>
                    </a>
                </td>
                <td>
                    <span th:text="${#temporals.format(subproject.start, 'dd-MM-yyyy')}"></span>
                </td>
                <td>
                    <span th:text="${#temporals.format(subproject.deadline, 'dd-MM-yyyy')}"></span>
                </td>
                <td>
                    <span th:text="${subproject.timeEstimate}"></span>
                </td>
                <td>
                    <span th:text="${subproject.subProjectDescription}"></span>
                </td>
                <td>
                    <form action="/redigerdelprojekt" method="POST">
                        <input type="hidden" name="subProjectId" th:value="${subproject.subProjectId}" />
                        <button type="submit" class="button">Rediger</button>
                    </form>
                </td>
                <td>
                    <form action="/bekræftsletdelprojekt" method="POST">
                        <input type="hidden" name="subProjectId" th:value="${subproject.subProjectId}" />
                        <button type="submit" class="logout-button">Slet</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>