<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <title>Administrer Projekt</title>
    <style>
        body {
            font-family: 'Source Sans Pro', sans-serif;
            background-color: #f0f2f5;
        }
    </style>
</head>
<body>
<div class="navbar">
    <div class="logo">
        <a><h1>Projekt-Manager</h1></a>
    </div>

    <div class="menu">
        <a th:href="@{projekter}">Projektliste</a>
    </div>


    <form action="/logout" method="POST">
        <button type="submit" class="logout-button">Log af</button>
    </form>
</div>
<div class="main">
    <div class="container">
        <form action="/opdaterprojekt" method="post">
            <div>
                <label for="description">Projekt Beskrivelse</label>
                <input type="text" id="description" name="description" required>
            </div>
            <div>
                <label for="start">Start Dato</label>
            </div>
            <div>
                <input type="date" id="start" name="start" required>
            </div>
            <div>
                <label for="deadline">Deadline</label>
            </div>
            <div>
                <input type="date" id="deadline" name="deadline" required>
            </div>
            <input type="hidden" name="projectId" th:value="${project.projectId}" />
            <button type="submit">Rediger Projekt</button>
        </form>
    </div>

</div>
</body>
</html>